
<div id="login">
  <img src="http://static1.squarespace.com/static/55164fa5e4b0392be71fc02b/t/556b3416e4b07ec484ffe911/1437950532883/?format=1500w"/>
  <h1>ElleBoxCo Login</h1>

  <form action="/login" method="POST">

      <label for="Username">Username:</label>
        <input type= "text" name="username" id="username" value="" placeholder="enter username"/> <br>

      <label for="Password">Password:</label>
        <input type= "password" name="Password" id="password" value="" placeholder="enter password"/> <br>

      <input id="button" type="submit" value="press me"/>

    </form>
  </div>