<div id="signup">
  <img class="ellebox" src="http://static1.squarespace.com/static/55164fa5e4b0392be71fc02b/t/556b3416e4b07ec484ffe911/1437950532883/?format=1500w"/>

    <br>

      <form class="form" action="/signup" method="POST">
        <fieldset class="account-info">
            <label>First Name
            <input type="text" name="firstname">
            </label>
            <label>Last Name
            <input type="text" name="lastname">
            </label>
            <label>Email Address
            <input type="text" name="email">
            </label>
            <label> Username
            <input type="text" name="username">
            </label>
            <label>Password
            <input type="password" name="password">
            </label>
        </fieldset>
 
        <fieldset class="account-action">
          <input class="btn" type="submit" name="submit" value="Sign Up">
          <label>
          <input type="checkbox" name="remember"> Remember me
          </label>
        </fieldset>
      </form>
</div>